// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-size: 14px;
    font-weight: normal;
}

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}


/* footer */
footer.footer { // 更明确地指定是 .footer 类的 footer 元素
    margin-top: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eaeaea;
    color: #777;
    font-size: 13px;
    //font-weight: bold;

    // --- 添加 Flexbox 属性 ---
    display: flex;          // 将 footer 设置为 flex 容器
    align-items: center;    // 垂直居中所有子项 (图片、链接、div)
    // justify-content: space-between; // 如果你希望左右两边的内容自动分开
    justify-content: center;
    //img.brand-icon {
    //    width: 17px;
    //    height: 17px;
    //    margin-right: 5px; // 在图片和 "Laravel" 文字之间添加一点间距
    //    // vertical-align: middle; // 在 Flexbox 中, align-items 通常更适用
    //}

    a, a:visited { // 这个会应用到 footer 内所有 a 标签
        color: #555;
        font-weight: bold;
    }

    a:hover {
        color: #222;
        text-decoration: underline;
    }
}
section.user_info{
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    a {
        display: inline-block;
        text-decoration: none;
    }
    .gravatar {
        float: none;
        max-width: 70px;
    }
    h1 {
        font-size: 1.4em;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 15px;
    }
}
.gravatar {
    float: left;
    max-width: 50px;
    border-radius: 50%;
}
.gravatar_edit {
    margin: 15px auto;
    text-align: center;
    .gravatar {
        float: none;
        max-width: 100px;
    }
}
.status-delete-btn {
    width: max-content;
}
.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        text-align: center;
        width: 33%;
        border-left: 1px solid #eee;
        color: #33383c;
        text-decoration: none;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: #337ab7;
        }
    }
    strong {
        display: block;
        font-size: 1.2em;
        color: black;
    }
}
